<!-- <li>
  <base-card>
    <div :class="overlay" >
          <p v-if="!isContentEditable" @click="makeContentEditable" @keydown.enter.prevent> {{ description }} </p>
          <input v-else type="input" @keyup.enter="saveContent" v-model.trim="enteredDescription" :placeholder="description">
          <base-button :mode="taskButtonMode" @click.native="itemCheckClick" >{{ buttonName }}</base-button>
          <base-button class="btn--delete" @click.native="deleteItem">Delete</base-button>
      </div>
    </base-card>
  </li> -->

<v-list-item class="mt-3 rounded" :class="taskCardMode">
  <v-list-item-title @click="makeContentEditable" v-if="!isContentEditable"> {{ description }} </v-list-item-title >
  <v-text-field @keydown.enter="saveContent" :label="description" ref="descInput" v-else></v-text-field>
  <v-list-item-action>
    <v-btn elevation="1" text @click.native="itemCheckClick">
      <v-icon
        :color="taskButtonMode"
      >
       {{ buttonIcon }}
      </v-icon>
    </v-btn>
    <v-btn elevation="1" text @click.native="deleteItem">
      <v-icon
        color="red"
      >
        mdi-delete
      </v-icon>
    </v-btn>
  </v-list-item-action>
</v-list-item>