<!-- <ul>
  <todo-item
    v-for="todo in todos" 
    :key="todo.id"
    :id="todo.id"
    :description="todo.description"
    :isDone="todo.isDone"
  ></todo-item>
</ul> -->

<v-card class="px-6 pb-10">
    <v-card-title>Tasks</v-card-title>
    <v-list subheader text>
        <!-- TodoItem -->
        <todo-item
          v-for="todo in todos" 
          :key="todo.id"
          :id="todo.id"
          :description="todo.description"
          :isDone="todo.isDone"
        ></todo-item>
        <!-- TodoItem End -->
    </v-list>
  </v-card>